body{
    margin: 0;
    max-width: 1400px;
    background-color: aqua;
}
.logo{
    display: inline-block;
    font-size: 50px;
    
}
.logo a{
    text-decoration: none;
}
.main-manu{
    float: right;
    margin-right: 20px;
}
.main-manu ul li{
     display: inline-block;
    list-style: none;
    margin: 0 15px;
}
.main-manu ul li a{
    text-decoration: none;
    font-size: 30px;
}
.container{
    margin-top: 20px;
    height: 250px;
    
}
.container h2{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    padding-top: 20px;
}
.container p{
    text-align: center;
}
.container button{
    margin-left: 650px;
    padding: 10px;
    border-radius: 5px;
}
.container button a{
    text-decoration: none;
}
